:host {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  overflow-x: hidden;
}

.pokemons {
  display: grid;

  gap: 16px;
  padding: 0 64px;
  max-width: 992px;

  grid-template-columns: 1fr;
  @media (min-width: 576px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 769px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1201px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card {
    padding: 16px;
    box-sizing: border-box;

    width: 100%;
    height: 260px;
    max-width: 202px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    background-color: white;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 450ms cubic-bezier(0.075, 0.82, 0.165, 1);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    &:hover {
      transform: scale(0.925);
    }
    &:active {
      transform: scale(0.885);
    }
    img {
      width: 170px;
    }
    .pk-name {
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: capitalize;
      padding-left: 4px;
    }
    .pk-id {
      padding-left: 4px;
      opacity: 0.6;
    }
  }
}

.tag-form-field {
  // border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px 16px 12px 16px;
  position: relative;
  min-width: 280px;
  height: 100px;
  mat-chip-list {
    div {
      min-width: 280px;
      position: relative;
      button {
        position: absolute;
        right: 4px;
        top: 13px;
        min-width: 0 !important;
        width: 24px;
        height: 24px;
        line-height: 24px;
        mat-icon {
          --size: 15px;
          width: var(--size);
          height: var(--size);
          font-size: var(--size);
          line-height: var(--size);
          // color: #cacaca;
        }
      }

      input {
        padding: 12px 32px 12px 16px;
        outline: none;
        border: 0.4px solid #dddddd;
        border-radius: 6px;
        background: #f2f2f2;
        width: 100%;
      }
    }
  }
}

p.tags-label,
p.tags-hint {
  font-size: 11px;
  line-height: 18px;
  margin: 0 0 0 6px;
  font-weight: 400;
  opacity: 0.7;
}
