<!-- <div *ngIf="!imgUrl; else pokeImg">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Insert a pokemon</mat-label>
      <input autocomplete="off" matInput formControlName="id" />
    </mat-form-field>
    <button mat-button type="submit">Ok</button>
  </form>
</div> -->

<div class="pokemons">
  <div
    matRipple
    [routerLink]="['pokemon', parsePokemonId(pokemon.url)]"
    class="card"
    *ngFor="let pokemon of pokemons"
  >
    <ng-container *ngIf="parsePokemonId(pokemon.url) as id">
      <img
        #pokemonImage
        (mouseenter)="pokemonImage.src = getPokemonImageOld(id)"
        (mouseleave)="pokemonImage.src = getPokemonImage(id)"
        [src]="getPokemonImage(id)"
        loading="lazy"
      />
      <p class="pk-id">{{ "#" + pad(id) }}</p>
      <p class="pk-name">{{ pokemon.name }}</p>
    </ng-container>
  </div>
</div>
<button
  [disabled]="fetching"
  mat-stroked-button
  color="primary"
  (click)="loadMore()"
>
  Load More!
</button>
