<ng-container *ngIf="pokemon as p">
  <table class="about-table">
    <tr>
      <td>Species</td>
      <td>{{ p.species }}</td>
    </tr>
    <tr>
      <td>Height</td>
      <td>{{ p | getHeight }} ({{ p | toLbs }})</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>{{ p | getWeight }} ({{ p | toFeet }})</td>
    </tr>
    <tr>
      <td>Abilities</td>
      <td>
        {{ p | getAbilities }}
      </td>
    </tr>
  </table>
  <h3 class="mt-2 mb-1">Breeding</h3>
  <table class="about-table">
    <tr>
      <td>Gender</td>
      <td>{{ p.species }}</td>
    </tr>
    <tr>
      <td>Egg Groups</td>
      <td>{{ p.species }}</td>
    </tr>
    <tr>
      <td>Egg Cycle</td>
      <td>{{ p.species }}</td>
    </tr>
  </table>
</ng-container>
