:root {
  --pokemon-background-color: #ffffff;
}

:host {
  height: 100%;
  max-height: 100%;
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
  }
}
