:host {
  flex: 1;
  background: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  ::ng-deep {
    .mdc-tab {
      min-width: 0;
      padding-left: 8px;
      padding-right: 8px;
    }
    .mat-mdc-tab-labels {
      gap: 16px;
      height: 56px;
    }
    .mat-mdc-tab-label-container {
      padding: 0 16px 20px 16px;
    }

    .mat-mdc-tab-group {
      height: 100%;
      flex: 1;
    }

    .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
      > .mat-mdc-tab-header
      .mat-mdc-tab {
      flex-grow: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .mat-mdc-tab-body-wrapper {
      height: 100%;
      flex: 1;
      // overflow: hidden;

      mat-tab-body > * {
        padding: 0 40px 32px 40px;
      }
    }
  }
}
