:host {
  flex: 1;
  background: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 100%;
  padding-top: 40px;

  h3 {
    margin-left: 2px;
  }

  .about-table {
    tr {
      height: 30px;
    }
    tr :first-child {
      font-weight: thin;
      color: #b9b9b9;
      width: 90px;
    }
  }

  ::ng-deep {
    .mdc-tab {
      min-width: 0;
      padding-left: 8px;
      padding-right: 8px;
    }
    .mat-mdc-tab-labels {
      gap: 16px;
      height: 56px;
    }
    .mat-mdc-tab-label-container {
      padding: 0 16px 20px 16px;
    }

    .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
      > .mat-mdc-tab-header
      .mat-mdc-tab {
      flex-grow: 1;
      flex-grow: 0;
      min-width: 0;
      height: 100%;
    }

    .mat-mdc-tab-body-wrapper {
      padding: 0 40px 32px 40px;
    }
  }
}
