.sidenav-btn {
  position: fixed;
  top: 26px;
  z-index: 9999;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  color: var(--accent-text);
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  border-radius: 3px;
  height: 40px;
  text-transform: uppercase;
  min-width: 0;
  // width: 40px;
  // @media (min-width: 576px) {
  //   width: 160px;
  // }

  /* From https://css.glass */
  background: rgb(242 242 242 / 30%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  span {
    text-align: center;
  }

  mat-icon {
    --size: 17px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    font-size: var(--size);
  }

  &.left {
    left: 40px;
    width: 160px;
    border: 1px solid var(--accent-text);
  }
  &.right {
    right: 36px;
    width: 40px;
    border-radius: 4px;
    color: var(--main-text);
  }
}

.mat-drawer.my-drawer {
  display: flex;
  min-width: 280px;
  max-width: 280px;
  background-color: transparent;
}

.sidenav-container {
  height: 100%;
  position: fixed;
  width: 280px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.img-wrapper {
  width: 100%;
  display: grid;
  // grid-template-columns: 50px 1fr;
  grid-template-columns: 1fr;
  gap: 16px;
  align-items: center;
  padding: 20px;
  img {
    width: 50px;
    -webkit-filter: drop-shadow(-15px -4px 1px #777);
    filter: drop-shadow(-15px -4px 1px #777);
  }
  .fc {
    gap: 0.1rem;
    .n {
      font-size: 1.15rem;
    }
    .t {
      font-size: 0.62rem;
    }
  }
}

img {
  width: 24px;
  cursor: pointer;
}
.fr {
  // flex: 1;
  align-items: center;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// .link-btn {
//   margin-bottom: 16px;
//   padding: 0;
//   width: 200px;
//   span {
//     flex: 0 0 110 !important;
//   }
// }

:host {
  ::ng-deep .mat-drawer-content {
    overflow: hidden;
  }
  .mat-nav-list {
    overflow-x: hidden;
    padding-top: 0 !important;
    .mat-list-item {
      &:hover {
        ::ng-deep .mat-list-item-content {
          color: var(--accent-text);
        }
      }
      span {
        width: 260px;
      }
    }
    ::ng-deep .mat-list-item-content {
      text-decoration: none;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      transition: 300ms color cubic-bezier(0.075, 0.82, 0.165, 1);
      display: flex;
      gap: 16px;
      mat-icon {
        --size: 17px;
        width: var(--size);
        height: var(--size);
        line-height: var(--size);
        font-size: var(--size);
      }
    }
    .active-link {
      color: var(--accent-text);
      background-color: #e9e9e9;
    }
  }
}

.topbar {
  display: flex;
  width: 100%;
  height: 100px;
  gap: 40px;
  justify-content: center;
  // align-items: center;
  a {
    padding-top: 36px;
    color: var(--main-text);
    font-weight: 500;
    text-decoration: none;
    font-size: 0.95rem;
    min-width: 0;
    background: rgba(242, 242, 242, 0.3);
    backdrop-filter: blur(5px);
    &:active,
    &:visited {
      color: var(--main-text);
    }
  }
}
