<ng-container *ngIf="pokemon; else loader">
  <header>
    <button
      class="left"
      mat-icon-button
      (click)="backToList()"
      aria-label="Back"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button
      class="right"
      mat-icon-button
      (click)="addToFavorites()"
      aria-label="Add to favorites"
    >
      <mat-icon>favorite_border</mat-icon>
    </button>
  </header>
  <div class="sub-header">
    <h1>{{ pokemon.name }}</h1>
    <p class="small light">
      {{ pokemon.japanese_name }}
    </p>
    <p class="big light end"># {{ pokemon.pokedex_number | zeroPad }}</p>

    <ng-container *ngIf="pokemon | getTypes as types">
      <mat-chip-listbox>
        <mat-chip *ngFor="let type of types">
          {{ type }}
        </mat-chip>
      </mat-chip-listbox>
    </ng-container>
  </div>

  <img #pokemonImage class="pokemon-img" draggable="false" class="fade-in" />
</ng-container>

<ng-template #loader></ng-template>
