:root {
  --pokemon-details-header-color: white;
}

:host {
  position: relative;
  min-height: 350px;
  padding: 0 32px;

  header {
    position: relative;
    min-height: 70px;
    button {
      position: absolute;
      top: 16px;
      mat-icon {
        color: var(--pokemon-details-header-color);

        --size: 20px;
        width: var(--size);
        height: var(--size);
        line-height: var(--size);
        font-size: var(--size);
      }
      &.left {
        left: -17px;
      }
      &.right {
        right: -17px;
      }
    }
  }

  .sub-header {
    display: flex;
    flex-direction: column;
    gap: 1px;
    color: var(--pokemon-details-header-color);
    h1,
    h2,
    h3 {
      font-weight: 600;
    }
    p {
      font-weight: 600;
    }
    p.end {
      text-align: end;
    }
  }

  img.pokemon-img {
    position: absolute;
    bottom: -60px;
    left: calc(50% - 105px);
  }

  ::ng-deep {
    .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
      background-color: rgba(255, 255, 255, 0.4);
    }
    .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
      .mdc-evolution-chip__text-label {
      color: var(--pokemon-details-header-color);
      font-weight: 600;
    }

    .mat-mdc-standard-chip {
      height: 28px;
    }
    .mat-mdc-chip-set .mdc-evolution-chip-set__chips {
      gap: 6px;
    }

    .mat-mdc-chip-action-label {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
