<!-- <p *ngIf="pokemon as p">{{ p | json }}</p> -->
<ng-container *ngIf="!fetching">
  <ng-container *ngIf="err">
    <p class="err">A pokemon with ID {{ id }} does not exist!</p>
  </ng-container>
  <ng-container *ngIf="!err">
    <ng-container *ngIf="pokemon as p">
      <div class="pokemon-info">
        <div class="identifiers">
          <p class="name">{{ p.name }}</p>
          <p class="id">#{{ pad(p.id) }}</p>
        </div>
        <div class="main">
          <img #pokemonImage [src]="getPokemonImage(id)" loading="lazy" />
          <div class="random-stats">
            <p>{{ p.weight / 10 | number : "1.2-2" }} Kg</p>
            <p>{{ p.height * 10 }} cm</p>
            <ng-container *ngIf="p.stats as list">
              <p *ngFor="let item of list">
                <span>{{ item.stat.name }}</span>
                <span>{{ item.base_stat }}</span>
              </p>
            </ng-container>

            <ng-container *ngIf="p.abilities as list">
              <p *ngFor="let item of list">
                <span
                  ><b>{{ item.ability.name }}</b></span
                >
                <span>{{ item.ability.url }}</span>
              </p>
            </ng-container>

            <ng-container *ngIf="p.types as list">
              <div class="types">
                <div
                  [ngClass]="item.type.name"
                  *ngFor="let item of list"
                  class="type-chip"
                >
                  {{ item.type.name }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
