.pokemon-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  .identifiers {
    display: flex;
    gap: 8px;
    p {
      font-size: 2.5rem;
      line-height: 4rem;
    }
    .name {
      text-transform: capitalize;
    }
    .id {
      opacity: 0.5;
    }
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    place-items: center;
    img {
      width: 100%;
      max-width: 320px;
      justify-self: flex-end;
    }
    .random-stats {
      display: flex;
      flex-direction: column;
      justify-self: flex-start;
    }

    .types {
      display: flex;
      gap: 8px;
      .type-chip {
        border-radius: 3px;
        padding: 4px 8px;
        font-size: 0.82rem;
        width: 120px;
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
        &.grass {
          background-color: #9bcc50;
        }
        &.poison {
          background-color: #b97fc9;
          color: white;
        }
        &.fire {
          background-color: #fd7d24;
          color: white;
        }
        &.psychic {
          background-color: #f366b9;
          color: white;
        }
        &.ice {
          background-color: #51c4e7;
        }
        &.flying {
          background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
          background-color: #3dc7ef;
        }
        &.water {
          background-color: #4592c4;
          color: white;
        }
        &.electric {
          background-color: #eed535;
        }
        &.bug {
          background-color: #729f3f;
          color: white;
        }
        &.rock {
          background-color: #a38c21;
          color: white;
        }
        &.normal {
          background-color: #a4acaf;
        }
        &.fighting {
          background-color: #d56723;
          color: white;
        }
        &.ground {
          background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
          background-color: #f7de3f;
        }
        &.fairy {
          background-color: #fdb9e9;
        }
        &.steel {
          background-color: #9eb7b8;
        }
        &.dragon {
          background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
          background-color: #53a4cf;
          color: white;
        }
        &.dark {
          background-color: #707070;
          color: white;
        }
        &.ghost {
          background-color: #7b62a3;
          color: white;
        }
      }
    }
  }
}
