<!-- <div class="fc">
      <h3>Get in touch</h3>
      <div class="divider"></div>
    </div> -->

<!-- <a [href]="'mailto:' + mail" class="link-btn">
  <mat-icon class="hide-mobile">alternate_email</mat-icon>
  <span>{{ mail }}</span>
  <mat-icon>outgoing_mail</mat-icon>
</a> -->
<!-- <div class="divider"></div> -->

<a matRipple [href]="'mailto:' + mail" class="link-btn">
  <mat-icon class="hide-mobile">alternate_email_round</mat-icon>
  <!-- <span>{{ mail }}</span> -->
  <span>Contact me</span>
  <mat-icon>forward_to_inbox_round</mat-icon>
</a>

<!--  -->
<div class="wrap">
  <div class="fr gap-1">
    <img
      *ngFor="let social of Social | keyvalue"
      [src]="'assets/img/svg/' + social.value + '.svg'"
      [alt]="social.value + ' logo'"
      (click)="openSocial(Social[social.value])"
      [matTooltip]="social.value"
    />
  </div>
  <!-- <div class="flex-1 hide-mobile"></div> -->
  <span style="font-size: 0.78rem" class="light">
    © 2023 Federico Lorrai. All Rights Reserved.</span
  >
</div>
