:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 120px 40px 16px 40px;
  @media (min-width: 576px) {
    padding: 40px;
  }
  --gap: 32px;
  gap: var(--gap);
  @media (min-width: 576px) {
  }
  img {
    width: 24px;
    cursor: pointer;
  }
  .fr {
    // flex: 1;
    align-items: center;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    justify-content: center;
    width: 100%;
    @media (min-width: 576px) {
      flex-direction: row-reverse;
    }
  }
}
