h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  line-height: 24px;
}
p,
span,
a {
  font-size: 0.88rem;
}
a {
  word-wrap: break-word;
}

h2 {
}

h3 {
}

.accent {
  color: var(--accent-text);
}

.italic {
  font-style: italic;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}
