:host {
  ::ng-deep .mat-mdc-select-value-text {
    text-transform: capitalize;
  }
}
.capitalize {
  text-transform: capitalize;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 16px;
}
