@import "~@angular/material/theming";
@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);
@include angular-material-theme($app-theme);

// @import "./common-scss/animations.scss";
// @import "./common-scss/core.scss";
@import "./common-scss/typography.scss";
@import "./common-scss/variables.scss";

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  box-sizing: border-box;
  // cursor: url("./assets/img/cursor/custom-cursor.png"), auto;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--main-text);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
body {
  margin: 0;
}

.danger {
  color: var(--danger-text);
}

.container {
  max-width: 960px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--accent-text) var(--background-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-text);
  border-radius: 6px;
  border: 4px solid var(--background-color);
}
